In [75]:
import requests
from bs4 import BeautifulSoup
import time
import json
import sqlite3
import pandas as pd

####   リンクをインバウンド用とアウトバウンド用のリンク

In [74]:
url = 'https://www.tourism.jp/tourism-database/stats/inbound/'
url_out = 'https://www.tourism.jp/tourism-database/stats/outbound/'

##  インバウンド

In [58]:
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# 表を見つける
table = soup.find('table')  # 最初の<table>が出る

tr_list = table.find_all('tr')

for tr in tr_list:
    print(tr.text)

    time.sleep(1)

国・地域名
月別訪日客数
2024年11月
対前年同月比


韓国

749,500人



中国

546,300人



台湾

488,400人



香港

227,100人



タイ

118,000人



シンガポール

95,800人



マレーシア

62,000人



インドネシア

48,800人



フィリピン

87,100人



ベトナム

50,200人



インド

23,500人



英国

37,000人



フランス

31,100人



ドイツ

25,200人



イタリア

20,800人



ロシア

13,900人



スペイン

18,800人



USA

247,500人



カナダ

47,300人



オーストラリア

80,300人

In [94]:
# データ格納用リスト
data = []  

for tr in tr_list:
    cols = tr.find_all(['th', 'td'])  
    col_text = [col.text.strip() for col in cols]  #テキスト抽出
    
    if len(col_text) >= 2:  # データが2列以上ある場合のみ処理
        country = col_text[0]  # 国名
        visitors = col_text[2]  # 訪問者数
        data.append(('インバウンド' ,country, visitors))  # リストに追加
    
    

print("データ内容:")
for d in data:
    print(f"{d},")

データ内容:
('インバウンド', '国・地域名', '2024年11月'),
('インバウンド', '韓国', '749,500人'),
('インバウンド', '中国', '546,300人'),
('インバウンド', '台湾', '488,400人'),
('インバウンド', '香港', '227,100人'),
('インバウンド', 'タイ', '118,000人'),
('インバウンド', 'シンガポール', '95,800人'),
('インバウンド', 'マレーシア', '62,000人'),
('インバウンド', 'インドネシア', '48,800人'),
('インバウンド', 'フィリピン', '87,100人'),
('インバウンド', 'ベトナム', '50,200人'),
('インバウンド', 'インド', '23,500人'),
('インバウンド', '英国', '37,000人'),
('インバウンド', 'フランス', '31,100人'),
('インバウンド', 'ドイツ', '25,200人'),
('インバウンド', 'イタリア', '20,800人'),
('インバウンド', 'ロシア', '13,900人'),
('インバウンド', 'スペイン', '18,800人'),
('インバウンド', 'USA', '247,500人'),
('インバウンド', 'カナダ', '47,300人'),
('インバウンド', 'オーストラリア', '80,300人'),

##  アウトバウンド

In [80]:
response2 = requests.get(url_out)
soup2 = BeautifulSoup(response2.content, 'html.parser')

# 表を見つける
table2 = soup2.find('table')  # 最初の<table>が出る

tr_list2 = table2.find_all('tr')

for tr2 in tr_list2:
    print(tr2.text)

    time.sleep(1)

国・地域名
月別入国数
2024年11月
対前年同月比


韓国

341,198人



台湾





香港

54,389人



マカオ

11,719人



タイ

109,639人



マレーシア

23,498人



シンガポール

44,330人



フィリピン

30,717人



バリ/インドネシア





ベトナム

71,014人



カナダ





アメリカ

141,389人



ハワイ/アメリカ

60,683人



グアム





オーストラリア





ニュージーランド





ドイツ





スペイン

61,593泊



オーストリア

In [95]:
# データ格納用リスト
data2 = []  

for tr2 in tr_list2:
    cols2 = tr2.find_all(['th', 'td'])  
    col_text2 = [col2.text.strip() for col2 in cols2]  #テキスト抽出
    
    if len(col_text2) >= 2:  # データが2列以上ある場合のみ処理
        country2 = col_text2[0]  # 国名
        visitors2 = col_text2[2]  # 訪問者数
        data2.append(('アウトバウンド',country2, visitors2))  # リストに追加
    
    

print("データ内容:")
for d2 in data2:
    print(f"{d2},")

データ内容:
('アウトバウンド', '国・地域名', '2024年11月'),
('アウトバウンド', '韓国', '341,198人'),
('アウトバウンド', '台湾', ''),
('アウトバウンド', '香港', '54,389人'),
('アウトバウンド', 'マカオ', '11,719人'),
('アウトバウンド', 'タイ', '109,639人'),
('アウトバウンド', 'マレーシア', '23,498人'),
('アウトバウンド', 'シンガポール', '44,330人'),
('アウトバウンド', 'フィリピン', '30,717人'),
('アウトバウンド', 'バリ/インドネシア', ''),
('アウトバウンド', 'ベトナム', '71,014人'),
('アウトバウンド', 'カナダ', ''),
('アウトバウンド', 'アメリカ', '141,389人'),
('アウトバウンド', 'ハワイ/アメリカ', '60,683人'),
('アウトバウンド', 'グアム', ''),
('アウトバウンド', 'オーストラリア', ''),
('アウトバウンド', 'ニュージーランド', ''),
('アウトバウンド', 'ドイツ', ''),
('アウトバウンド', 'スペイン', '61,593泊'),
('アウトバウンド', 'オーストリア', ''),

##  データベースに格納

In [76]:
!pwd

/Users/dangararara/muds/b1/DSprog2/2_work

In [103]:
path = '/Users/dangararara/muds/b1/DSprog2/2_work/'

# DBファイル名
db_name = 'final_pj.db'

# DBに接続する（DBファイルが存在しない場合は，新規に作成される）
con = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
con.close()

In [104]:
# DBに接続
con = sqlite3.connect(path + db_name)

# SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
cur = con.cursor()

# 実行したいSQL
# 一旦
sql = 'CREATE TABLE finalPJ (type text, country_name text, visitors int);'

# SQLを実行
cur.execute(sql)

# DBへの接続を閉じる
con.close()

In [106]:
# DBに接続
con = sqlite3.connect(path + db_name)

# SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
cur = con.cursor()

# データを挿入するSQL
sql_insert_many = "INSERT INTO finalPJ VALUES (?, ?, ?);"

final_pj =[
('インバウンド', '韓国', '749,500人'),
('インバウンド', '中国', '546,300人'),
('インバウンド', '台湾', '488,400人'),
('インバウンド', '香港', '227,100人'),
('インバウンド', 'タイ', '118,000人'),
('インバウンド', 'シンガポール', '95,800人'),
('インバウンド', 'マレーシア', '62,000人'),
('インバウンド', 'インドネシア', '48,800人'),
('インバウンド', 'フィリピン', '87,100人'),
('インバウンド', 'ベトナム', '50,200人'),
('インバウンド', 'インド', '23,500人'),
('インバウンド', '英国', '37,000人'),
('インバウンド', 'フランス', '31,100人'),
('インバウンド', 'ドイツ', '25,200人'),
('インバウンド', 'イタリア', '20,800人'),
('インバウンド', 'ロシア', '13,900人'),
('インバウンド', 'スペイン', '18,800人'),
('インバウンド', 'USA', '247,500人'),
('インバウンド', 'カナダ', '47,300人'),
('インバウンド', 'オーストラリア', '80,300人'),
('アウトバウンド', '国・地域名', '2024年11月'),
('アウトバウンド', '韓国', '341,198人'),
('アウトバウンド', '台湾', ''),
('アウトバウンド', '香港', '54,389人'),
('アウトバウンド', 'マカオ', '11,719人'),
('アウトバウンド', 'タイ', '109,639人'),
('アウトバウンド', 'マレーシア', '23,498人'),
('アウトバウンド', 'シンガポール', '44,330人'),
('アウトバウンド', 'フィリピン', '30,717人'),
('アウトバウンド', 'バリ/インドネシア', ''),
('アウトバウンド', 'ベトナム', '71,014人'),
('アウトバウンド', 'カナダ', ''),
('アウトバウンド', 'アメリカ', '141,389人'),
('アウトバウンド', 'ハワイ/アメリカ', '60,683人'),
('アウトバウンド', 'グアム', ''),
('アウトバウンド', 'オーストラリア', ''),
('アウトバウンド', 'ニュージーランド', ''),
('アウトバウンド', 'ドイツ', ''),
('アウトバウンド', 'スペイン', '61,593泊'),
('アウトバウンド', 'オーストリア', '')
]

# SQLを実行
cur.executemany(sql_insert_many, final_pj)

# コミット処理（データ操作を反映させる）
con.commit()

# DBへの接続を閉じる
con.close()

In [130]:
def get_statistics(db_name, visitor_type=None, min_visitors=0):
    # SQLiteデータベースに接続
    conn = sqlite3.connect(db_name)
    
    # ベースSQLクエリ
    query = "SELECT * FROM finalPJ WHERE visitors >= ?"
    params = [min_visitors]  # 訪問者数の閾値を設定

    # visitor_type（例: 'インバウンド'）が指定されている場合、条件を追加
    if visitor_type:
        query += " AND type = ?"
        params.append(visitor_type)
    
    df = pd.read_sql_query(query, conn, params=params)
    
     # visitors列を数値型に変換
    df['visitors'] = df['visitors'].str.replace(',', '').str.replace('人', '').astype(int)
    
    # min_visitorsを基準にフィルタリング
    df = df[df['visitors'] >= min_visitors]
    
    conn.close()
    return df

print(get_statistics('final_pj.db', visitor_type='インバウンド', min_visitors=0))

      type country_name  visitors
0   インバウンド           韓国    749500
1   インバウンド           中国    546300
2   インバウンド           台湾    488400
3   インバウンド           香港    227100
4   インバウンド           タイ    118000
5   インバウンド       シンガポール     95800
6   インバウンド        マレーシア     62000
7   インバウンド       インドネシア     48800
8   インバウンド        フィリピン     87100
9   インバウンド         ベトナム     50200
10  インバウンド          インド     23500
11  インバウンド           英国     37000
12  インバウンド         フランス     31100
13  インバウンド          ドイツ     25200
14  インバウンド         イタリア     20800
15  インバウンド          ロシア     13900
16  インバウンド         スペイン     18800
17  インバウンド          USA    247500
18  インバウンド          カナダ     47300
19  インバウンド      オーストラリア     80300